<div class="container mt-5">
    <form [formGroup]="createTask" (ngSubmit)="addTask()" >

      <h1 class="h3 mb-3 fw-normal">Agregar tarea</h1>
  
      <div class="form-floating mt-5">
        <input formControlName="title" type="text" class="form-control" id="floatingInput" placeholder="Mi tarea">
        <label for="floatingInput">Titulo</label>
      </div>

      <div class="form-floating mt-5">
        <textarea formControlName="description" class="form-control" id="floatingInput" rows="3" style="height:200px" placeholder="Descripción"></textarea>
        <label for="floatingInput">Descripción</label>
      </div>
      
      <div class="form-floating mt-5">
        <input type="file" (change)="uploadFile($event)">
      </div>

      <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Agregar</button>
    </form>
</div>