<div class="container mt-5">
    <div class="header">
      <h2 class="text-center">Mis tareas</h2>
      <button class="btn btn-primary" [routerLink]="['/create']">Agregar</button>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Realizada</th>
            <th scope="col">Titulo</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Visualizar</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active" *ngFor="let task of tasks">
            <td><input type="checkbox" class="" [ngModel]="task.isDone"></td>
            <td>{{ task.title }}</td>
            <td><button class="btn btn-info"> Editar </button></td>
            <td><button class="btn btn-danger"> Eliminar </button></td>
            <td><button class="btn btn-secondary"> Ver </button></td>
          </tr>
        </tbody>
      </table>
      <!--<div *ngFor="let task of tasks">
          {{ task.title }}
      </div>-->
</div>